<div class="pagetitle">
  <h1>Quản Lý Sản Phẩm</h1>
</div><!-- End Page Title -->
<section class="section dashboard">
  <!-- Trong file .component.html của bạn -->
  <form (ngSubmit)="onSubmitSearch()" class="form-inline mt-4">
    <div class="d-flex flex-row">
      <div class="form-group col-auto mr-2">
        <label for="keyWord" class="sr-only">Search</label>
        <input type="search" class="form-control" id="keyWord" [(ngModel)]="keyword"
          [ngModelOptions]="{ standalone: true }" placeholder="Nhập từ khoá " />
      </div>
      <button type="submit" class="btn btn-primary bt">
        <i class="bi bi-search"></i>
      </button>
    </div>
  </form>
  <br>
 

  <button type="button" class="btn btn-primary" style="margin-bottom: 30px;" data-bs-toggle="modal"
    data-bs-target="#staticBackdrop">
    <i class="bi bi-plus-lg"></i> Thêm mới
  </button>

  <div style="max-height: 320px; overflow: auto;">
    <table class="table table-hover table-bordered">
      <thead>
        <tr class="table-primary">
          <th scope="col" class="text-center" >Mã</th>
          <th scope="col" class="text-center" >Ảnh</th>
          <th scope="col" class="text-center" >Tên</th>
          <th scope="col" class="text-center" >Size</th>
          <th scope="col" class="text-center" >Giá</th>
          <th scope="col" class="text-center" >Màu sắc</th>
          <th scope="col" class="text-center" >Mô tả</th>

          <th scope="col" class="text-center" style="width:10%">Chức Năng</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let x of datas; let rowIndex = index">
          <th class="text-center">{{ x.id}}</th>
          <td class="text-center"><img src="./assets/admin/img/{{x.Image}}" style="width: 100px;"></td>
          <td class="text-center">{{ x.Name }}</td>
          <td class="text-center">{{ x.Sizes[0]?.NameSize }}</td>
          <td class="text-center">{{ x.Prices[0]?.Price_product | currency:'VND' }}</td>
          <td class="text-center" >{{ x.Colors[0]?.ColorName }}</td>
          <td class="text-center" [innerHTML]="x.Describe"></td>
          <td>
            <i class="bi bi-pencil-square" data-bs-toggle="modal" data-bs-target="#edit"
              style="color: rgb(6, 60, 253);  " (click)="edit(x)"></i>
            <i class="bi bi-trash3" style="color: red; margin-left: 30px; " (click)="Deletemanytable(x.id)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item ">
        <a class="page-link" (click)="Previousdata()">Previous</a>
      </li>
      <li class="page-item" *ngFor="let x of totalPageArray"><a class="page-link" (click)="Setpage(x)">{{x}}</a></li>

      <li class="page-item" (click)="Nextdata()">
        <a class="page-link">Next</a>
      </li>
    </ul>
  </nav>

</section>




<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Thêm sản phẩm</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="row" [formGroup]="FormProduts" enctype="multipart/form-data">
          <div class="col-12 form-group">
            <label for="name" class="col-form-label">Tên sản phẩm: <span style="color: red;">*</span></label>
            <input type="text" formControlName="Name" pInputText class="form-control" id="Name">
          </div>
          <div class="col-12 form-group">
            <label for="name" class="col-form-label">Danh mục: <span style="color: red;">*</span></label>
            <select formControlName="Idcategories" class="form-control" id="Idproduces">
              <!-- Tùy chọn mặc định, có thể thay đổi theo yêu cầu của bạn -->
              <option value="" disabled selected>-- Chọn nhà sản xuất --</option>
              <option *ngFor="let category of Dscategories" [value]="category.id">{{ category.name }}</option>

            </select>
          </div>
          <div class="col-12 form-group">
            <label for="name" class="col-form-label">Nhà sản xuất: <span style="color: red;">*</span></label>
            <select formControlName="Idproduces" class="form-control" id="Idproduces">
              <!-- Tùy chọn mặc định, có thể thay đổi theo yêu cầu của bạn -->
              <option value="" disabled selected>-- Chọn nhà sản xuất --</option>
              <option *ngFor="let x of Dsproduces" [value]="x.id">{{ x.Name }}</option>
            </select>
          </div>
          <div class="col-12 form-group">
            <label for="name" class="col-form-label">Size: <span style="color: red;">*</span></label>
            <input type="text" formControlName="NameSize" pInputText class="form-control" id="NameSize">
          </div>
          <div class="col-12 form-group">
            <label for="name" class="col-form-label">Giá: <span style="color: red;">*</span></label>
            <input type="text" formControlName="Price_product" pInputText class="form-control" id="Price_product">
          </div>
          <div class="col-12 form-group">
            <label for="name" class="col-form-label">Màu sắc: <span style="color: red;">*</span></label>
            <input type="text" formControlName="ColorName" pInputText class="form-control" id="ColorName">
          </div>

          <div class="col-12 form-group">
            <label for="name" class="col-form-label">Mô tả: <span style="color: red;">*</span></label>
            <!-- <textarea formControlName="Describe" pInputText class="form-control" id="Describe"></textarea> -->
            <ckeditor [editor]="Editor"formControlName="Describe"class="form-control" id="Describe" ></ckeditor>
          </div>
          <div class="col-12 form-group">
            <label for="name" class="col-form-label">Ảnh: <span style="color: red;">*</span></label>
            <input type="file" formControlName="Image" (change)="onFileSelected($event)" pInputText class="form-control" id="Image"accept=".jpg,.png">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x" (click)="resetForm()"></i> Đóng</button>
        <button *ngIf="FormProduts.valid" type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="SaveAdd()"><i
            class="bi bi-floppy"></i> Lưu</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="edit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Sửa sản phẩm</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row" [formGroup]="FormProduts" enctype="multipart/form-data">
          <div class="col-12 form-group">
            <label for="name" class="col-form-label">Tên sản phẩm: <span style="color: red;">*</span></label>
            <input type="text" formControlName="Name" pInputText class="form-control" id="Name">
          </div>
          <div class="col-12 form-group">
            <label for="name" class="col-form-label">Danh mục: <span style="color: red;">*</span></label>
            <select formControlName="Idcategories" class="form-control" id="Idproduces">
              <!-- Tùy chọn mặc định, có thể thay đổi theo yêu cầu của bạn -->
              <option value="" disabled selected>-- Chọn nhà sản xuất --</option>
              <option *ngFor="let category of Dscategories" [value]="category.id">{{ category.name }}</option>

            </select>
          </div>
          <div class="col-12 form-group">
            <label for="name" class="col-form-label">Nhà sản xuất: <span style="color: red;">*</span></label>
            <select formControlName="Idproduces" class="form-control" id="Idproduces">
              <!-- Tùy chọn mặc định, có thể thay đổi theo yêu cầu của bạn -->
              <option value="" disabled selected>-- Chọn nhà sản xuất --</option>
              <option *ngFor="let x of Dsproduces" [value]="x.id">{{ x.Name }}</option>
            </select>
          </div>
          <div class="col-12 form-group">
            <label for="name" class="col-form-label">Size: <span style="color: red;">*</span></label>
            <input type="text" formControlName="NameSize" pInputText class="form-control" id="NameSize">
          </div>
          <div class="col-12 form-group">
            <label for="name" class="col-form-label">Giá: <span style="color: red;">*</span></label>
            <input type="text" formControlName="Price_product" pInputText class="form-control" id="Price_product">
          </div>
          <div class="col-12 form-group">
            <label for="name" class="col-form-label">Màu sắc: <span style="color: red;">*</span></label>
            <input type="text" formControlName="ColorName" pInputText class="form-control" id="ColorName">
          </div>

          <div class="col-12 form-group">
            <label for="name" class="col-form-label">Mô tả: <span style="color: red;">*</span></label>
            <!-- <textarea formControlName="Describe" pInputText class="form-control" id="Describe"></textarea> -->
            <ckeditor [editor]="Editor"formControlName="Describe"class="form-control" id="Describe" ></ckeditor>
          </div>
          <div class="col-12 form-group">
            <label for="name" class="col-form-label">Ảnh: <span style="color: red;">*</span></label>
            <input type="file" formControlName="Image" (change)="onFileSelected($event)" pInputText class="form-control" id="Image"accept=".jpg,.png">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x" (click)="resetForm()"></i> Đóng</button>
        <button  *ngIf="FormProduts.valid" type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="Update()"><i class="bi bi-floppy"></i> Lưu</button>
      </div>
    </div>
  </div>
</div>