<section id="portfolio" class="portfoio">
    <div class="container" data-aos="fade-up">
  
      <div class="section-title">
        <h2>Sản phẩm cần tìm</h2>
      </div>
      <div class="row">
        <div class="col-lg-4" *ngFor="let x of datas">
          <img src="./assets/admin/img/{{x.Image}}" class="img-fluid" alt="">
          <div class="title">
            <div class="title_1"><h6>{{x.Name}}</h6>
              <p>{{x.Prices[0]?.Price_product| currency:'VND'}}</p></div>
            <div class="title_2"><a  class="button">
              <i class="bi bi-plus-lg ai" (click)="addtocart(x.id)"></i>
            </a>
            <a [routerLink]="['/client/detail', x.id]" class="details-link" title="More Details">
              <i class="bi bi-link-45deg ai"></i>
            </a></div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item ">
                <a class="page-link" (click)="Previousdata()">Previous</a>
            </li>
            <li class="page-item" *ngFor="let x of totalPageArray"><a class="page-link" (click)="Setpage(x)">{{x}}</a>
            </li>

            <li class="page-item" (click)="Nextdata()">
                <a class="page-link">Next</a>
            </li>
        </ul>
    </nav>
  </section>