<div id="topbar" class="fixed-top d-flex align-items-center ">
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex align-items-center justify-content-between">-
      <h1 class="logo"><a href="">ACHINO</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href=index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      <form class="form_search">
        <input type="text" class="form-control" placeholder="Tìm Kiếm..." [(ngModel)]="newKeyword" [ngModelOptions]="{ standalone: true }">
        <button type="submit" class="btn btn-outline-light" (click)="sendKeyword()"><i class="bi bi-search"></i></button>
      </form>
      <nav id="navbar" class="navbar" (click)="activeNav()">
        <ul>
          <li><a class="nav-link scrollto" href="/client/Home">Trang Chủ</a></li>
          <li class="has-submenu">
            <a class="nav-link scrollto" href="#">Danh Mục</a>
            <ul class="submenu">
              <li *ngFor="let x of Dscategories"><a class="nav-link scrollto"
                  [routerLink]="['/client/categories', x.id]">{{x.name}}</a></li>
              <!-- Add more submenu items as needed -->
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="/client/blog">Blog</a></li>
          <li><a class="nav-link scrollto" href="/client/cart"><i class="bi bi-cart"></i></a></li>
          <li *ngIf="!getToken()"><a class="nav-link scrollto" href="Login">Đăng nhập</a></li>
        </ul>
      </nav><!-- .navbar -->
      <div class="btn-group" *ngIf="getToken()">
        <button type="button" class="btn dropdown-toggle" style="color: rgb(241, 243, 243);" data-bs-toggle="dropdown"
          aria-expanded="false">
          {{informationToken.fullname}}
        </button>
        <ul class="dropdown-menu">

          <li><a class="dropdown-item" href="#">Thông tin tài khoản</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" (click)="logout()">LogOut</a></li>
        </ul>
      </div>
    </div>
  </header>