<aside id="sidebar" class="sidebar" >

        <ul class="sidebar-nav" id="sidebar-nav">
      
          <li class="nav-item py-sm-0">
            <a class="nav-link " href="/admin/dashboard">
              <i class="bi bi-grid"></i>
              <span>Thống kê</span>
            </a>
          </li>
          <li class="nav-item py-sm-0">
            <a class="nav-link "href="/admin/categories_admin" >
              <i class="bi bi-list-stars"></i>
              <span>Danh mục</span>
            </a>
          </li>
          <li class="nav-item py-sm-0">
            <a class="nav-link "href="/admin/produces" >
              <i class="bi bi-list-stars"></i>
              <span>Nhà Sản Xuất</span>
            </a>
          </li>
          <li class="nav-item py-sm-0">
            <a class="nav-link "href="/admin/products_admin" >
              <i class="bi bi-box-seam"></i>
              <span>Sản phẩm</span>
            </a>
          </li>
          <li class="nav-item py-sm-0">
            <a class="nav-link "href="/admin/order_admin" >
              <i class="bi bi-bag-check"></i>
              <span>Đơn hàng</span>
            </a>
          </li>
          <li class="nav-item py-sm-0">
            <a class="nav-link "href="/admin/importbill" >
              <i class="bi bi-bookmark-plus"></i>
              <span>Hóa đơn nhập</span>
            </a>
          </li>
          <li class="nav-item py-sm-0">
            <a class="nav-link "href="/admin/exportbill" >
              <i class="bi bi-bookmark-dash"></i>
              <span>Hóa đơn bán</span>
            </a>
          </li>
          <li class="nav-item py-sm-0">
            <a class="nav-link "href="/admin/warehouse" >
              <i class="bi bi-house-add"></i>
              <span>Kho</span>
            </a>
          </li>
          <li class="nav-item py-sm-0">
            <a class="nav-link "href="/admin/customer" >
              <i class="bi bi-person-plus"></i>
              <span>Khách hàng</span>
            </a>
          </li>
          <li class="nav-item py-sm-0">
            <a class="nav-link "href="/admin/staff" >
              <i class="bi bi-person-lines-fill"></i>
              <span>Nhân viên</span>
            </a>
          </li>
          <li class="nav-item py-sm-0">
            <a class="nav-link "href="/admin/blog_admin" >
              <i class="bi bi-receipt"></i>
              <span>Tin tức</span>
            </a>
          </li>
          <!-- <li class="nav-item py-sm-0">
            <a class="nav-link "href="/admin/categories_admin" >
              <i class="bi bi-person-circle"></i>
              <span>Tài Khoản</span>
            </a>
          </li> -->
      
      
        </ul>
      
      </aside><!-- End Sidebar-->